body {
   color: white; 
   background:blue;
   margin: Opx;
}

header {
border-bottom:solid 2 px rgb (42,122,228)
padding:20 px;
 font-size; 32px;
 color: rgb (42,122,228);
}  
section{
  background: rgb (184,156,213):
  padding-bottom:80 px:
  padding-top: 80 px:
  display:flex;
  justify-content´ center
}
.chamada -texto {
   margin-right 5%;
}
